.env
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.pt
*.onnx
*.engine
edge_node/dataset/
runs/
*.db
*.sqlite3
control_server/chroma_db/
edge_node/captured_imgs/
control_server/received_imgs/
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.DS_Store
*.txt
